services:
  app:
    user: "${UID}:${GID}"
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: laravel_app
    volumes:
      - ./laravel_app:/var/www/html
    environment:
      APP_ENV: ${APP_ENV:-local}
      DB_CONNECTION: mysql
      DB_HOST: mysql
      DB_PORT: 3306
      DB_DATABASE: laravel_db
      DB_USERNAME: laravel
      DB_PASSWORD: secret
    depends_on:
      - mysql
      - phpmyadmin
    networks:
      - laravel

  node:
    build:
      context: .
      dockerfile: docker/node/Dockerfile-node
    container_name: laravel_node
    volumes:
      - ./laravel_app:/var/www/html
      working_dir: /var/www/html
    command: ["npm", "run", "dev"]
    networks:
      - laravel
    depends_on:
      - app

  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    volumes:
      - ./laravel_app:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8000:80"
    depends_on:
      - app
    networks:
      - laravel

  mysql:
    image: mysql:8
    container_name: laravel_mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel_db
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
    ports:
      - "3307:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql
    networks:
      - laravel

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: laravel_phpmyadmin
    restart: always
    ports:
      - "8001:80"
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: root
    depends_on:
      - mysql
    networks:
      - laravel

networks:
  laravel:
